<template>
  <footer>
    Feito com ❤ por
    <a
      href="https://www.linkedin.com/in/daniel-andr%C3%A9-36b8b6152/"
      target="_blank"
    >Daniel</a>
  </footer>
</template>

<script>
export default {};
</script>

<style>
footer {
  background: #ee1c25;
  padding: 25px 0;
  text-align: center;
  color: #fff;
  position: relative;
  top: 75px;
}
footer,
footer a {
  font-size: 1.2rem;
}
footer a:hover {
  text-decoration: underline;
}
</style>