<template>
  <aside>
    <h1>Filtre Por</h1>
    <div class="div-filtro">
      <h3>Categorias</h3>
      <ul class="lista-categoria">
        <li v-for="categoria in categoriasFiltro" :key="categoria.id">
          <router-link
            :to="{name: 'categoria', params: {categoria: categoria.id}}"
          >{{categoria.name}}</router-link>
        </li>
      </ul>
    </div>
    <div class="div-filtro">
      <h3>{{this.$store.state.nomeFiltro}}</h3>
      <ul class="lista-filtro">
        {{filtroRadio}}
        <li>
          <label for="total" @click="filtroSelecionado()">
            <input id="total" type="radio" name="filtro" checked />
            Todos
          </label>
        </li>
        <li v-for="(item, index) in this.$store.state.filtro" :key="`${index}-${item}`">
          <label :for="item" @click="filtroSelecionado(item)">
            <input :id="item" type="radio" name="filtro" />
            {{item}}
          </label>
        </li>
      </ul>
    </div>
  </aside>
</template>

<script>
import fetchData from "@/mixins/fetchData.js";
import listaCategorias from "@/mixins/listaCategorias.js";

export default {
  name: "TheFilter",
  props: ["categoria"],
  mixins: [fetchData, listaCategorias],
  data() {
    return {
      filtroRadio: null,
    };
  },
  methods: {
    filtroSelecionado(filtro) {
      console.log(filtro);
      this.fetchData(this.$route.params.categoria, filtro);
    },
  },
  created() {
    this.listaCategorias();
  },
};
</script>

<style scoped>
aside {
  border: 1px solid #ccc;
  padding: 10px;
  height: fit-content;
}
aside h1 {
  color: #ee1c25;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1.6rem;
  font-family: "OpenSansBold";
}
aside h3 {
  color: #749d98;
  margin-bottom: 10px;
  font-size: 1.2rem;
}
aside h1,
aside h2,
aside h3 {
  text-transform: uppercase;
}
aside ul.lista-categoria li {
  list-style: initial;
  margin-left: 20px;
}
aside ul.lista-filtro li label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
aside ul.lista-filtro li label input {
  cursor: pointer;
}
aside ul li:not(:last-child) {
  margin-bottom: 10px;
}
aside ul li a.router-link-exact-active {
  text-decoration: underline;
  color: #ee1c25;
  font-weight: bold;
}
.div-filtro:not(:last-child) {
  margin-bottom: 15px;
}
input[type="radio"] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #749d98;
  border-radius: 3px;
  margin-right: 10px;
  margin-left: 0;
  outline: none;
  transform: scale(0.9);
}
input[type="radio"]:checked {
  background-image: url("../assets/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-shadow: 0 0 0px 3px rgba(238, 28, 37, 0.5);
  border-color: white;
  transform: scale(1);
}
</style>