<template>
  <header>
    <div class="signin-signup">
      <p>
        <a href="#">Acesse sua Conta</a> ou
        <a href="#">Cadastre-se</a>
      </p>
    </div>
    <div class="logo-input">
      <div @click="openMenu" class="menu-mobile" data-active="false">
        <span></span>
        <span></span>
      </div>
      <router-link to="/">
        <img src="@/assets/logo.png" alt="Logo WEBJUMP" />
      </router-link>
      <div>
        <button @click="openInputSearch" class="input-search-mobile" data-active="false"></button>
        <div class="div-busca">
          <input type="search" placeholder="Buscar" />
          <input type="submit" value="Buscar" />
        </div>
      </div>
    </div>
    <div class="menu">
      <ul>
        <li>
          <router-link to="/">Página Inicial</router-link>
        </li>
        <li v-for="categoria in categoriasFiltro" :key="categoria.id">
          <router-link
            :to="{name: 'categoria', params: {categoria: categoria.id}}"
          >{{categoria.name}}</router-link>
        </li>
        <li>
          <router-link to="/contato">Contato</router-link>
        </li>
      </ul>
    </div>
  </header>
</template>

<script>
import listaCategorias from "@/mixins/listaCategorias.js";

export default {
  name: "TheHeader",
  mixins: [listaCategorias],
  methods: {
    openMenu() {
      const menuMobile = document.querySelector(".menu-mobile");
      if (menuMobile.dataset.active === "true") {
        menuMobile.dataset.active = false;
      } else {
        menuMobile.dataset.active = true;
      }
      const body = document.body;
      body.classList.toggle("open-menu");
      if (body.classList.contains("open-menu")) {
        body.style.overflowY = "hidden";
      } else {
        body.style.overflowY = "auto";
      }
    },
    openInputSearch() {
      const inputSearchMobile = document.querySelector(".input-search-mobile");
      if (inputSearchMobile.dataset.active === "true") {
        inputSearchMobile.dataset.active = false;
      } else {
        inputSearchMobile.dataset.active = true;
      }
    },
  },
  created() {
    this.listaCategorias();
  },
};
</script>

<style scoped>
.signin-signup {
  background: black;
  padding: 8px 0px;
}
.signin-signup p {
  display: block;
  font-size: 0.9rem;
  color: white;
  max-width: 1000px;
  margin: 0 auto;
  text-align: right;
}
.signin-signup a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}
.logo-input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  max-width: 1000px;
  margin: 0 auto;
}
.logo-input img {
  width: 250px;
}
.logo-input input[type="search"] {
  border: 2px solid #ccc;
  padding: 8px 10px;
  font-size: 1rem;
  margin: 0;
  max-width: 300px;
}
.logo-input input[type="submit"] {
  background: #ee1c25;
  padding: 10px 25px;
  color: white;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: "OpenSansBold";
}
.menu {
  background: #ee1c25;
  padding: 20px 15px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
.menu ul {
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}
.menu ul li {
  color: #fff;
}
.menu ul li:not(:last-child) {
  margin-right: 50px;
}
.menu ul li a:hover {
  text-decoration: underline;
}
.input-search-mobile {
  height: 30px;
  width: 30px;
  background-color: transparent;
  background-image: url("../assets/search.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
}
.div-busca input[type="submit"] {
  cursor: pointer;
}
</style>