<template>
  <div v-if="api">
    <main>
      <div class="header">
        <h1>{{api.type[0].name}}</h1>
        <div class="layout-order">
          <div class="div-grid">
            <label for="grid" @click="layoutSelecionado('grid')">
              <input type="radio" name="layout" id="grid" checked />
              <div class="icon-grid">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </label>

            <label for="list" @click="layoutSelecionado('list')">
              <input type="radio" name="layout" id="list" />
              <div class="icon-list">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </label>
          </div>
          <div class="input-order">
            <label>Ordernar Por</label>
            <select v-model="selectOrder">
              <option value="relevancia">Relevância</option>
              <option value="preco-desc">Preço (desc)</option>
              <option value="preco-asc">Preço (asc)</option>
            </select>
          </div>
        </div>
      </div>
      <ul class="lista-produtos" data-layout="grid">
        <li v-for="(produto, index) in this.$store.state.apiFiltro" :key="`${index}-${produto.id}`">
          <div>
            <img :src="require('@/assets/' + produto.image)" :alt="produto.name" class="imagem" />
          </div>
          <div class="conteudo-produto">
            <p class="nome">{{produto.name}}</p>
            <div>
              <div v-if="produto.specialPrice" class="div-precos">
                <p class="preco">{{converterPreco(produto.price)}}</p>
                <p class="preco-especial">{{converterPreco(produto.specialPrice)}}</p>
              </div>
              <div v-else class="div-preco">
                <p class="preco">{{converterPreco(produto.price)}}</p>
              </div>
              <a href="#">
                <button class="comprar">Comprar</button>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </main>
  </div>
</template>

<script>
import fetchData from "@/mixins/fetchData.js";

export default {
  name: "Categoria",
  props: ["categoria"],
  mixins: [fetchData],
  data() {
    return {
      layout: "grid",
      selectOrder: "relevancia",
    };
  },
  methods: {
    converterPreco(numero) {
      return numero.toLocaleString("pt-BR", {
        style: "currency",
        currency: "BRL",
      });
    },
    layoutSelecionado(layout) {
      const ul = document.querySelector(".lista-produtos");
      ul.dataset.layout = layout;
      this.layout = layout;
    },
    ordernarPor(order) {
      console.log("teste", order);
    },
  },
  watch: {
    selectOrder() {
      this.sortOrder(this.selectOrder, this.selectOrder);
    },
  },
  created() {
    this.fetchData(this.categoria);
  },
  beforeRouteUpdate(to, from, next) {
    this.fetchData(`${to.params.categoria}`);
    next();
  },
};
</script>

<style scoped>
main ul {
  display: grid;
  grid-gap: 25px;
}
main ul[data-layout="grid"] {
  grid-template-columns: repeat(4, auto);
}
main ul[data-layout="list"] {
  grid-template-columns: auto;
}
main ul[data-layout="list"] li {
  grid-template-columns: minmax(100px, 200px) 1fr;
  grid-gap: 20px;
}
main ul[data-layout="list"] li img {
  margin-bottom: 0;
}
main ul[data-layout="list"] li .conteudo-produto {
  justify-content: space-around;
}
main ul li {
  display: grid;
}
.imagem {
  width: 100%;
  height: 150px;
  object-fit: contain;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.nome,
.comprar {
  text-transform: uppercase;
}
.div-preco .preco,
.div-precos .preco-especial,
.comprar {
  font-weight: bold;
}
.nome,
.preco {
  text-align: center;
}
.div-preco,
.div-precos {
  margin: 10px 0;
}
.div-preco .preco,
.div-precos .preco-especial {
  font-family: "OpenSansBold";
  color: #ee1c25;
  font-size: 1.5rem;
  letter-spacing: -0.1rem;
}
.div-precos .preco {
  text-decoration: line-through;
  color: #606060;
}
.comprar {
  background: #80bdb8;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-size: 1.2rem;
  font-family: "OpenSansBold";
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(0.9);
  transition: all 0.3s;
}
.comprar:hover {
  transform: scale(1);
}
.header {
  margin-bottom: 20px;
}
.header h1 {
  font-size: 1.8rem;
  color: #ee1c25;
}
.header h1,
.header div.layout-order {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.layout-order {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.div-precos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.input-order label {
  margin-right: 10px;
  font-family: "OpenSansBold";
  text-transform: uppercase;
  font-size: 0.95rem;
}
.input-order select {
  width: 250px;
  padding: 5px 10px;
}
.div-grid {
  display: flex;
}
.div-grid img {
  width: 25px;
}
.div-grid label input {
  display: none;
}
.div-grid label:not(:last-child) {
  margin-right: 15px;
}

.div-grid div:not(:last-child) {
  margin-right: 15px;
}

.icon-grid,
.icon-list {
  cursor: pointer;
}

.icon-grid:hover span,
.icon-list:hover span,
.div-grid label input:checked + .icon-grid span,
.div-grid label input:checked + .icon-list span {
  background: #82bdba;
}

.div-grid label input:checked + .icon-grid span {
  background: #82bdba;
}

.icon-grid {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(3, 1fr);
}
.icon-grid span {
  width: 9px;
  height: 9px;
  background: #749d98;
  border-radius: 2px;
}

.icon-list {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 2fr;
}
.icon-list span {
  width: 9px;
  height: 9px;
  background: #749d98;
  border-radius: 2px;
}
.icon-list span:nth-child(even) {
  width: 100%;
}
.conteudo-produto,
.conteudo-preco {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
</style>