<template>
  <div class="home">
    <TheHeader />
    <div class="breadcrumb">
      Página Inicial >
      <span>{{this.$store.state.categoriaAtual}}</span>
    </div>
    <div class="conteudo">
      <TheFilter />
      <router-view></router-view>
    </div>
    <TheFooter />
  </div>
</template>

<script>
import TheHeader from "@/components/TheHeader.vue";
import TheFilter from "@/components/TheFilter.vue";
import TheFooter from "@/components/TheFooter.vue";

export default {
  name: "Home",
  components: {
    TheHeader,
    TheFilter,
    TheFooter,
  },
};
</script>

<style scoped>
.conteudo {
  display: grid;
  grid-template-columns: minmax(170px, 200px) auto;
  grid-gap: 20px;
  max-width: 1000px;
  margin: 30px auto;
  flex: 1;
}
.breadcrumb {
  max-width: 1000px;
  margin: 30px auto 0 auto;
  font-weight: bold;
}
.breadcrumb span {
  color: #ee1c25;
  cursor: pointer;
}
.breadcrumb span:hover {
  text-decoration: underline;
}
</style>
