<template>
  <div class="home">
    <TheHeader />
    <div class="conteudo">
      <TheFilter />
    </div>
    <TheFooter />
  </div>
</template>

<script>
import TheHeader from "@/components/TheHeader.vue";
import TheFilter from "@/components/TheFilter.vue";
import TheFooter from "@/components/TheFooter.vue";

export default {
  name: "Home",
  components: {
    TheHeader,
    TheFilter,
    TheFooter,
  },
};
</script>

<style scoped>
.conteudo {
  display: grid;
  grid-template-columns: minmax(170px, 200px) auto;
  grid-gap: 20px;
  max-width: 1000px;
  margin: 30px auto;
  flex: 1;
}
</style>
