<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style>
@font-face {
  font-family: OpenSans;
  src: url("./fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSansBold;
  src: url("./fonts/OpenSans-ExtraBold.ttf");
}
* {
  box-sizing: border-box;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 1rem;
}
#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
  color: #606060;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}
input {
  font-size: 1rem;
}
body {
  transition: all 0.5s;
}
body.open-menu {
  transform: translate3d(50%, 0, 0);
}
.menu-mobile {
  display: none;
  cursor: pointer;
}
.menu-mobile span {
  display: block;
  width: 30px;
  height: 5px;
  background: #303030;
  border-radius: 5px;
  transition: all 0.5s;
}
.menu-mobile span:not(:last-child) {
  margin-bottom: 5px;
}
.menu-mobile[data-active="true"] span:nth-child(1) {
  transform: rotate(45deg);
}
.menu-mobile[data-active="true"] span:nth-child(2) {
  transform: rotate(-45deg);
}
.menu-mobile[data-active="true"] span:not(:last-child) {
  margin-bottom: -5px;
}
.input-search-mobile {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .signin-signup {
    padding: 8px 15px !important;
  }
  .logo-input {
    padding: 30px 15px !important;
  }
  .conteudo,
  .breadcrumb {
    padding: 0 15px !important;
  }
  .menu {
    padding: 20px 30px !important;
  }
}
@media only screen and (max-width: 900px) {
  main ul[data-layout="grid"] {
    grid-template-columns: repeat(3, auto) !important;
  }
}
@media only screen and (max-width: 720px) {
  .conteudo {
    grid-template-columns: auto !important;
  }
}
@media only screen and (max-width: 600px) {
  .menu-mobile {
    display: block;
  }
  .signin-signup p {
    text-align: center !important;
  }
  .menu {
    transform: translate3d(-100%, 0px, 0px);
    width: 50%;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
  }
  .menu ul {
    flex-direction: column;
    height: 50%;
    justify-content: space-around;
  }
  .menu ul li {
    margin: 0 !important;
  }
  .div-busca {
    display: none;
    position: absolute;
    left: 0;
    bottom: -15px;
    padding: 0 15px;
    width: 100%;
  }
  .input-search-mobile[data-active="true"] + .div-busca {
    display: flex;
  }
  .div-busca input {
    flex: 1 auto;
  }
  .input-search-mobile {
    display: block;
  }
}
@media only screen and (max-width: 530px) {
  main ul[data-layout="grid"] {
    grid-template-columns: repeat(2, auto) !important;
  }
  .layout-order {
    flex-direction: column-reverse;
  }
  .layout-order div {
    text-align: center;
    margin: 5px 0;
  }
}
@media only screen and (max-width: 400px) {
  .logo-input img {
    width: 200px !important;
  }
}
</style>
